body {
  background-color: #1a1a1a !important;
  color: #ebebeb !important;
}

a {
  color: #ebebeb !important;
  text-decoration: none !important;
  font-weight: 700 !important;
}

.pageContainer {
  max-width: 80%;
  margin: auto;
}

.btn {
  color: white !important;
}