
body {
  background-color: #1a1a1a !important;
  color: #ebebeb !important;
}

a {
  color: #ebebeb !important;
  text-decoration: none !important;
  font-weight: 700 !important;
}

.pageContainer {
  max-width: 80%;
  margin: auto;
}

.projectsCarousel {
  padding-left: 10%;
  width: 100%;
  display: flex;
  overflow-x: scroll;
}

.projectsControl {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  color: white !important;
}